body {
    background: url("../img/back.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1, h2, h3, h4 {
    color: #005bbb;
    -webkit-text-stroke: 1px #103ad0;

}
label {
font-size: 22px;
    color: #ffd500;
    -webkit-text-stroke: 1px #ebeb31;
}
input,select{
    border: none;
    border-radius: 2px ;
    background-color: #c1eaff;
}


