<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Students</title>
  <th:block th:insert="~{/fragments/settings-head::settings-head}">
  </th:block>

</head>
<body>
<th:block th:insert="~{/fragments/header::header}"></th:block>

<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="text-center">
    <h1 class="display-1 fw-bold" th:text="${status}"></h1>
    <p class="fs-3" th:text="${error}"> <span class="text-danger">Opps!</span> </p>
    <p class="lead">
      The page you’re looking for doesn’t exist.
    </p>
    <a href="/" class="btn btn-primary">Go Home</a>
  </div>
</div>

</body>
</html>

