<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
    <th:block th:insert="~{/fragments/settings-head::settings-head}">
    </th:block>

</head>
<body>
<th:block th:insert="~{/fragments/header::header}"></th:block>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="section-title">
                <h2>Students</h2>
            </div>
        </div>
    </div>
    <div id="studentsTableId">
        <table class="table table-bordered table-dark studentsTable">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Surname</th>
                <th scope="col">Name</th>
                <th scope="col">Birth date</th>
                <th scope="col">Group</th>
                <th scope="col">Homeworks</th>
            </tr>
            </thead>
            <tbody>

            <!--/*@thymesVar id="students" type="List<Student>"*/-->
            <tr th:each="student:${students}">
                <td th:utext="${student.id}"></td>
                <td th:utext="${student.surname}"></td>
                <td th:utext="${student.name}"></td>
                <td th:utext="${student.birthDate}"></td>
                <td th:utext="${student.st_group}"></td>
                <td>
                    <div class="form-group d-flex justify-content-md-evenly">
                        <form th:action="@{studentHomeworks}" method="post">
                            <input type="hidden" name="id" th:value="${student.id}">
                            <input class="inputSub" type="submit" value="Homeworks">
                        </form>
                        <form th:action="@{studentUpdate}" method="post">
                            <input type="hidden" name="id" th:value="${student.id}">
                            <input class="inputSub" type="submit" value="Update">
                        </form>
                    </div>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
</body>
</html>
