<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teacher</title>
    <th:block th:insert="~{/fragments/settings-head::settings-head}">
    </th:block>

</head>
<body>
<th:block th:insert="~{/fragments/header::header}"></th:block>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <h2>Teacher</h2>
                </div>
            </div>
            <div class="row">
                <div>
                    <table class="table table-bordered table-dark teacherTable">
                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Surname</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>

                        <!--/*@thymesVar id="teachers" type="List<Teacher>"*/-->
                        <tr th:each="teacher:${teachers}">
                            <td th:utext="${teacher.id}"></td>
                            <td th:utext="${teacher.name}"></td>
                            <td th:utext="${teacher.surname}"></td>
                            <td>
                                <div class="d-flex justify-content-md-evenly align-items-center">
                                <form th:action="@{viewHomeworks}" method="post">
                                    <input type="hidden" name="id" th:value="${teacher.id}">
                                    <input type="submit" value="View homeworks">
                                </form>
                                <form th:action="@{students}" method="post">
                                    <input type="submit" value="Students">
                                </form>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <h2>Add new homework</h2>
                </div>
            </div>
            <div class="container-fluid d-flex justify-content-center align-items-center">
                <div class="row ">
                    <form th:action="@{addNewHomework}" method="post">
                        <div class="form-group form-control-lg d-flex justify-content-between align-items-center">
                            <input type="hidden" name="id" th:value="${teachers[0].id}">
                            <label for="taskInput" class="sr-only mx-3">Task: </label>
                            <input name="task" type="text" id="taskInput">
                        </div>
                        <div class="form-group form-control-lg container">
                            <button type="submit" class="btn btn-primary">Assigned</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
